@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Palanquin:wght@400;500;600;700&display=swap')

html { font-size: 17px; }
:root{
  --nav:black;
  --nav-text:white;

  --searchbg:blue;
  --searchlistbg:white;
  --searchlisttext:black;


  --shelfbg:lightBlue;
  --shelflistbg:black;
  --shelflisttext:white;

  --bookbg:darkGrey;
  --booklistbg:white;
  --booklisttext:black;


  --main-headline1: light 6.5rem/1.5 Jost, Palanquin, sans-serif;
  --main-headline2: light 4rem/1.5 Jost, Palanquin, sans-serif;
  --main-headline3: light 3.2rem/1.5 Jost, Palanquin, sans-serif;
  --main-headline4: light 2.3rem/1.5 Jost, Palanquin, sans-serif;
  --main-headline5: light 1.65rem/1.5 Jost, Palanquin, sans-serif;
  --main-headline6: light 1.35rem/1.5 Jost, Palanquin, sans-serif;
  --main-body1: light 1rem/1.5 Palanquin, sans-serif;
  --main-body2: light 0.9rem/1.5 Palanquin, sans-serif;
  --main-subtitle1: light 1.06rem/1.5 Jost, Palanquin, sans-serif;
  --main-subtitle2: light 0.95rem/1.5 Jost, Palanquin, sans-serif;
  --main-button: light 0.95rem/1.5 Palanquin, sans-serif;
  --main-overline: light 0.65rem/1.5 Palanquin, sans-serif;
  --main-caption: light 0.9rem/1.5 Palanquin, sans-serif;

}

body {
  font: 1rem/1.5 'Palanquin', sans-serif;
}

.Nav {
  background-color: var(--nav);
  color: var(--nav-text);
}

.Header{
  align-self: center;
  margin:20px;
}
.Results{
  display:flex;
  flex-direction: column;
}
.Column{
  display:flex;
  flex-direction: column;
  width: 33vw;
  height: 100vh;

}
body{
  font: var(--main-body1);
}

h4{
  font: var(--main-headline4);
}
.col-1{
  background-color: var(--searchbg);
}
.col-2{
  background-color: var(--shelfbg);
}
.col-3{
  background-color: var(--bookbg);
}
.list-1{
  background-color: var(--searchlistbg);
}
.list-2{
  background-color: var(--shelflistbg);
}
.list-3{
  background-color: var(--booklistbg);
}
.text-1{
  color: var(--searchlisttext);
}
.text-2{
  color: var(--shelflisttext);
}
.text-3{
  color: var(--booklisttext);
}
.Row{
  display:flex;
  flex-direction: row;
}
.list{
  padding: 3%;
  width: minmax(33vw,400px);
}
