
body {
  font: 1rem/1.5 'Palanquin', sans-serif;
}

.Nav {
  background: var(--nav);
  color: var(--nav-text);
  height:60px;
  align-items: center;
  display:flex;
}

.Header{
  align-self: center;
  margin:20px;
}
.Results{
  display:flex;
  flex-direction: column;
}
.Column{
  display:flex;
  flex-direction: column;
  width: 33vw;
  height: 100vh;

}
body{
  font: var(--main-body1);
}

h4{
  font: var(--main-headline4);
}
.col-1{
  background-color: var(--searchpanel);
}
.col-2{
  background-color: var(--shelfpanel);
}
.col-3{
  background-color: var(--detailspanel);
}
.list-1{
  background-color: var(--searchpanellist);
}
.list-2{
  background-color: var(--shelfpanellist);
}


.text-1{
  color: var(--searchpaneltext);
}
.text-2{
  color: var(--shelfpaneltext);
}
.text-3{
  color: var(--detailspaneltext);
}
.Row{
  display:flex;
  flex-direction: row;
}
.list{
  padding: 3%;
  width: minmax(33vw,400px);
}

.Link{
  color: var(--detailspaneltext);
  text-decoration: none;
  padding:3rem;
}
