
:root{
  --nav:black;
  --nav-text:white;
}
.Header {
  display: flex;
  justify-content: center;
}

.Nav {
  background-color: var(--nav);
  color: var(--nav-text);
}

.Results{
  display:flex;
  flex-direction: column;
}

.Result {
  background-color: lightBlue;
  padding: 3%;
  align-self: center;
  width: 20%;
}

.Shelf {
  background-color: grey;
}

.ShelfBook{
    background-color: lightGreen;
    padding: 3%;
    align-self: center;
    width: 20%;

}
